*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    min-height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 100px 15px 100px;
    gap: 8px 15px;
}
.logoNavBar{
    width: 150px;
}
.headerBtnGroup{
    display: flex;
    gap: 15px;
}
.navBtn{
    font-size: 16px;
    padding: 6px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #696969;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.navBtnFaleConosco{
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.navBtn:hover{
    color: black;
    border-bottom: 2px solid red;
}
.sectionPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #F5F5F5;
    padding: 10px;
}
.sectionApresentação{
    height: auto;
    width: 800px;
}
.sectionApresentaçãoTitle{
    color: black;
    font-size: 30px;
    font-family: Comic Sans MS;
    padding: 0px 150px 0px 60px;
}
.sectionApresentaçãoDescription{
    color:#696969;
    font-size: 18px;
    font-family: Comic Sans MS;
    padding: 0px 150px 0px 60px;
}
.imgInicial{
    padding: 60px;
    width: 500px;
    height: 500px;
}
.topCursos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
}
.cursoContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    grid-area: cursoContent;
    padding: 30px 120px 30px 120px;
}
.cursoCard{
    width: 280px;
    height: auto;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.cursoCardImg{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.cursoCard:hover{
    border-color: black;
}
.cursoCardDescricao{
    text-align: justify;
}
.sobreNos{
    background-color: #F5F5F5;
    display: flex;
    height: 400px;
}
.sobreNostext{
    padding: 5%;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.sobreNosImg{
    height: 100%;
    width: 450px;
}
.footer{
    height: 100%;
    min-height: 40px;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 15px;
}
.footerEndText{
    color: white;
    display: inline;
    word-wrap: break-word;
    list-style-type: disc;
    box-sizing: border-box;
}
.endereco{
    font-size: 13px;
    padding: 5px;
}
.instaFooter{
    width: 40px;
}
.whatFooter{
    width: 40px;
}